
   input {
  flex: 1;
  height: 48px;
  padding: 0 20px;

  font-size: 22px;
  color: #333;

  border: 2px solid #e0e0e0;
  border-radius: 11px;
  outline: none;
}
input::placeholder {
  color: #999;
}

.btn{
 height: 48px;
  padding: 0 30px;

  border: none;
  border-radius: 11px;

  background: linear-gradient(135deg, #8b00ff, #6500e8);
  color: white;

  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}


.todoul{

  list-style: none;
  padding: 0;
  margin: 0;
}
